@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

nav {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 0.5rem;
}


nav img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.container {
  padding: 2rem 2rem;
}

/* First Section */
.first {}

.first h2 {
  font-size: 25px;
  /* text-align: center; */
}

.first h2,
.first p {
  margin-top: 20px;
}

.first p {
  line-height: 1.5rem;
}

/* .first button {
  width: 30%;
  padding: 10px;
  display: inline;
}

.first input {
  width: 50%;
  padding: 10px;
} */


.first button,
.third-2 button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 22px;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 5px;
  color: #fff;
}

.first input,
.third-2 input {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 22px;
  width: 100%;
}


/* Second Section */
#second {
  background-image: url('./images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  /* min-height: auto; */
  background-size: cover;
}

.second {
  /* border: 1px solid red; */
}

.me {
  margin-top: 4rem;
}

.second h3 {
  font-size: 20px;
  margin-top: 2rem;
  font-weight: 700;
}

.second p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 2rem;
}

.icon {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  max-width: max-content;
  margin: auto;
  color: hsl(170, 45%, 43%);

}

.icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.kyle {
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.4rem 1.1rem;
}

.kyle img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.kyle-2 {
  display: flex;
  column-gap: 10px;
  /* justify-content: center; */
  align-items: end;
}

.kyle-2 span {
  display: block;
  width: 100%;
  color: hsl(238, 22%, 44%);
  font-weight: 300;
}

.kyle-2 p {
  color: hsl(243, 87%, 12%);
  font-weight: 700;
}

.kyle h6 {
  color: hsl(238, 22%, 44%);
  font-size: 14px;
}



/* Third-section */
#third {
  background-color: hsl(238, 22%, 44%);
  margin-top: 3rem;

}

.third {
  /* text-align: center; */
  color: #fff;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

.third-1 h3 {
  font-size: 20px;
  font-weight: 700;
}

.third-1 p {
  margin-top: 20px;
  line-height: 1.4rem;
}

.third-2 input {
  border: none;
}

/* Fourth Section */
.fourth {
  background-color: hsl(243, 87%, 12%);
  padding: 3rem 2rem;


}

.fourt {
  color: #fff;
}

.fourt p {
  margin-top: 1.5rem;
}

.list {
  margin-top: 2rem;
}


.fourt img {
  color: white;

}


.list-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px;
  
}

.list .fab {
  border-radius: 2.5rem;
  border: 1px solid white;
  padding: 0.5rem;
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}




/* Desktop Design */
@media (min-width: 768px) {

  nav {
    padding: 3rem 5.5rem;
  }

  .container {
    padding: 3rem 5.5rem;
  }

  /* First Section */
  .first,
  .second {
    display: flex;
    flex-direction: row;
  }

  .first,
  .second {
    flex-direction: row-reverse;
  }

  .first img,
  .second img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  .first h2,
  .second h3,
  .third-1 h3 {
    font-size: 35px;
    font-weight: 700;
    /* text-align: center; */
  }


  .first p {
    line-height: 1.5rem;
  }

  .first button {
    width: 30%;
    padding: 10px;
    display: inline;
  }

  .first input {
    width: 50%;
    padding: 10px;
  }


  /* Second Section */
  .second {}

.second h3 {
  margin-top: 0px;
}


  .icon {
    flex-direction: row;
    margin-left: 0px;
    margin-top: 15px;
  }


  .icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }


.kyle {
  width: 50%;
}

  .kyle img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
/* Third Section */

.third {
  display: flex;
  flex-direction: row;
}


.third-1 p {
  margin-top: 20px;
  line-height: 1.4rem;
width: 45%;
}

.third-2 input {
  width: 100%;
  padding: 10px 4.5rem;
  background-color: #fff;
  color: hsl(238, 22%, 44%);
}


.third-2 button {
  width: 70%;
  padding: 10px 0px;
}


/* Fourth Section */
.fourt {
  display: flex;
  justify-content: space-between;
}


.list-1 {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15px; */
}

.list .fab {
display: flex;
align-items: center;
justify-content: center;
  padding: 1.5rem;
  width: 70px;
  height: 70px;
  align-items: center;
}

}